html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.directionsContainer {
    width: 380px;
    height: 100%;
    overflow-y: auto;
    float: left;
}

.directionsPanel {
    padding: 0px;
}

.recebe {
    display: none;
    font-family: 'Courier New', Courier, monospace;
    z-index: 2;
    width: 205px;
    height: 90%;
    position: absolute;
    top: 30px;
    left: 380px;
    color: black;
    font-size: 22px;
    text-align: start;
    outline: none;
    border: none;
    background-color: rgb(0 128 157 / 53%);
    font-weight: 600;
}

#myMap {
    position: relative;
    width: calc(100% - 380px);
    height: 100%;
    float: left;
}

.recebe::-webkit-scrollbar {
    width: 15px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

.recebe::-webkit-scrollbar-thumb {
    height: 3px;
    background-color: rgb(71, 144, 252);
}

.shif {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    z-index: 2;
    width: 300px;
    position: absolute;
    bottom: 0;
    left: 0px;
    color: black;
    font-size: 20px;
    text-align: center;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 2px;
}

.MicrosoftMap .directionsInput {
    background-color: white;
}


/* Arrastar Icone */

.MicrosoftMap.dirSDK .dirWpGrip {
    position: relative !important;
    top: 33px;
    left: 2px;
}


/* Arrastar Icone */


/* Campos Endereços */

body .MicrosoftMap .dirWp input {
    left: 50px !important;
}

.directionsPanel {
    background-color: white;
    width: 100%;
}

.bm_draggableDisplay {
    margin-left: 20px;
    width: 100%;
}


/* Campos Endereços */


/* Desenho */

.drawingBar {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
}


/* Delete Endereço */


/* .MicrosoftMap .deleteButton {
    background-image: url(https://toppng.com/uploads/preview/lixeira-vazia-11550708331qsgpboriem.png)!important;
    background-size: 20px !important;
    margin-left: 8px !important;
} */
